django==1.6             # web-framework of choice
MySQL-python==1.2.3     # The Python MySQL bindings
South>=0.7.3            # Python-Django MySQL migrations
yolk==0.4.1             # List out installed package versions (on virtualenv)
ipython==0.10.2         # Shell Plus!
django-extensions==0.6  # Also Shell Plus!

# Python service calls
#requests==1.2.3

# System monitoring and Performance
#raven==2.0.3

#git+https://github.com/matteius/parkle.git

# required by jenkins test automation and code coverage reports
coverage==3.6
#django-jenkins==0.14.0
django-coverage==1.2.2
pep8==1.4.5
pyflakes==0.6.1
pytest==2.3.5
pytest-django==2.3.0
django-pytest==0.2.0


# For API
djangorestframework==2.3.8

# For Gamestate
redis==2.8.0
hiredis==0.1.1


